# Gradient Boosting

Gradient boosting is a form of Ensemble Learning
* Ensemble ~ "together" in French

work on Below principle:

" Build up your weaknesses until they become your strong points"

        Many machine learning models come together to work on the training data.
        Many weak learners will make strong learners.
        
 Focuses on what previous model failed to learn
 
 Weak Learners are called "Ensemble" of learners.
 In practice: 100-200 weak learners, each learning from previous mistakes.
 
         Gradient Boosting will not work if the weak learners use MSE regression.
         Regression using Decision Trees work well.
         
 Decision Tree : 
 
         Non-parametric ML technique
         Hyperparameter:how many levels?
         
 * Gradient Boosting works best with a large number of weak learners
 Large ~ several hundred
 Early learners learn the most
 Later learners learn from the mistakes of early learners
 
 
 
 Shrinkage Factor :
      
      * Scale output of each model by a constant factor.
      * High shrinkage factor scales down importance of each learner
      * Slow down learning, reduces overfitting
      * More learners ~ shrink a lot
      * Few learners ~ shrink a little
      * Typical values ~ 0.1,1

# Gradient Boosted Regression Tree

 scikit-learn has a high-level estimator object for this algorithm
 
     GradientBoostingRegressor(max_depth = 4, n_estimators=200, learning rate = 0.1)
     
     * n_estimators --> is the number of weak learners.
     * max_depth = maximum depth of each individual decision tree

In [17]:
import pandas as pd

In [18]:
print(pd.__version__)

1.0.1

In [23]:
auto_data = pd.read_csv(".\\data\\imports-85.csv",sep=r'\s*,\s*',engine='python')

In [24]:
auto_data

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [25]:
import numpy as np

In [26]:
auto_data = auto_data.replace('?', np.nan)
auto_data.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

In [27]:
auto_data.describe()

,symboling,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,city-mpg,highway-mpg
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,10.142537,25.219512,30.751220
std,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,3.972040,6.542142,6.886443
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,8.600000,19.000000,25.000000
50%,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,9.000000,24.000000,30.000000
75%,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,9.400000,30.000000,34.000000
max,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000

In [28]:
auto_data.describe(include='all')

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
count,205.000000,164,205,205,205,203,205,205,205,205.000000,...,205.000000,205,201,201,205.000000,203,203,205.000000,205.000000,201
unique,NaN,51,22,2,2,2,5,3,2,NaN,...,NaN,8,38,36,NaN,59,23,NaN,NaN,186
top,NaN,161,toyota,gas,std,four,sedan,fwd,front,NaN,...,NaN,mpfi,3.62,3.4,NaN,68,5500,NaN,NaN,7775
freq,NaN,11,32,185,168,114,96,120,202,NaN,...,NaN,94,23,20,NaN,19,37,NaN,NaN,2
mean,0.834146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.756585,...,126.907317,NaN,NaN,NaN,10.142537,NaN,NaN,25.219512,30.751220,NaN
std,1.245307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.021776,...,41.642693,NaN,NaN,NaN,3.972040,NaN,NaN,6.542142,6.886443,NaN
min,-2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.600000,...,61.000000,NaN,NaN,NaN,7.000000,NaN,NaN,13.000000,16.000000,NaN
25%,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.500000,...,97.000000,NaN,NaN,NaN,8.600000,NaN,NaN,19.000000,25.000000,NaN
50%,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.000000,...,120.000000,NaN,NaN,NaN,9.000000,NaN,NaN,24.000000,30.000000,NaN
75%,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102.400000,...,141.000000,NaN,NaN,NaN,9.400000,NaN,NaN,30.000000,34.000000,NaN
max,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120.900000,...,326.000000,NaN,NaN,NaN,23.000000,NaN,NaN,49.000000,54.000000,NaN

In [30]:
auto_data['price'].describe()

count      201
unique     186
top       7775
freq         2
Name: price, dtype: object

In [31]:
 # covert price to float because its object type
    
auto_data['price'] = pd.to_numeric(auto_data['price'], errors ='coerce')

In [32]:
auto_data['price'].describe()

count      201.000000
mean     13207.129353
std       7947.066342
min       5118.000000
25%       7775.000000
50%      10295.000000
75%      16500.000000
max      45400.000000
Name: price, dtype: float64

In [33]:
# no use in prediction ex- normalized-losses, drop this

auto_data = auto_data.drop('normalized-losses', axis =1)
auto_data.head()

,symboling,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,3,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,1,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,2,audi,gas,std,four,sedan,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950.0
4,2,audi,gas,std,four,sedan,4wd,front,99.4,176.6,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450.0

In [34]:
auto_data['horsepower'] =pd.to_numeric(auto_data['horsepower'], errors = 'coerce')

In [35]:
auto_data['horsepower'].describe()

count    203.000000
mean     104.256158
std       39.714369
min       48.000000
25%       70.000000
50%       95.000000
75%      116.000000
max      288.000000
Name: horsepower, dtype: float64

In [36]:
auto_data['num-of-cylinders'].describe()

count      205
unique       7
top       four
freq       159
Name: num-of-cylinders, dtype: object

In [37]:
cylinders_dict = { 'two' : 2,
                  'three': 3,
                  'four' : 4,
                  'five' : 5,
                  'six' : 6,
                  'eight' : 8,
                  'twelve' : 12}
auto_data['num-of-cylinders'].replace(cylinders_dict, inplace = True)
auto_data.head()

,symboling,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111.0,5000,21,27,13495.0
1,3,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111.0,5000,21,27,16500.0
2,1,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,...,152,mpfi,2.68,3.47,9.0,154.0,5000,19,26,16500.0
3,2,audi,gas,std,four,sedan,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.4,10.0,102.0,5500,24,30,13950.0
4,2,audi,gas,std,four,sedan,4wd,front,99.4,176.6,...,136,mpfi,3.19,3.4,8.0,115.0,5500,18,22,17450.0

In [38]:
auto_data['num-of-cylinders'].describe()

count    205.000000
mean       4.380488
std        1.080854
min        2.000000
25%        4.000000
50%        4.000000
75%        4.000000
max       12.000000
Name: num-of-cylinders, dtype: float64

In [39]:
# coverting categorical value to one hot representation, because all these features are important for model learning
auto_data = pd.get_dummies(auto_data,columns=['make','fuel-type', 'aspiration','num-of-doors','body-style','drive-wheels','engine-location','engine-type','fuel-system'])
auto_data.head()

,symboling,wheel-base,length,width,height,curb-weight,num-of-cylinders,engine-size,bore,stroke,...,engine-type_ohcv,engine-type_rotor,fuel-system_1bbl,fuel-system_2bbl,fuel-system_4bbl,fuel-system_idi,fuel-system_mfi,fuel-system_mpfi,fuel-system_spdi,fuel-system_spfi
0,3,88.6,168.8,64.1,48.8,2548,4,130,3.47,2.68,...,0,0,0,0,0,0,0,1,0,0
1,3,88.6,168.8,64.1,48.8,2548,4,130,3.47,2.68,...,0,0,0,0,0,0,0,1,0,0
2,1,94.5,171.2,65.5,52.4,2823,6,152,2.68,3.47,...,1,0,0,0,0,0,0,1,0,0
3,2,99.8,176.6,66.2,54.3,2337,4,109,3.19,3.4,...,0,0,0,0,0,0,0,1,0,0
4,2,99.4,176.6,66.4,54.3,2824,5,136,3.19,3.4,...,0,0,0,0,0,0,0,1,0,0

In [40]:
# frop all row which don't have number values(nan)
auto_data = auto_data.dropna()
auto_data

,symboling,wheel-base,length,width,height,curb-weight,num-of-cylinders,engine-size,bore,stroke,...,engine-type_ohcv,engine-type_rotor,fuel-system_1bbl,fuel-system_2bbl,fuel-system_4bbl,fuel-system_idi,fuel-system_mfi,fuel-system_mpfi,fuel-system_spdi,fuel-system_spfi
0,3,88.6,168.8,64.1,48.8,2548,4,130,3.47,2.68,...,0,0,0,0,0,0,0,1,0,0
1,3,88.6,168.8,64.1,48.8,2548,4,130,3.47,2.68,...,0,0,0,0,0,0,0,1,0,0
2,1,94.5,171.2,65.5,52.4,2823,6,152,2.68,3.47,...,1,0,0,0,0,0,0,1,0,0
3,2,99.8,176.6,66.2,54.3,2337,4,109,3.19,3.4,...,0,0,0,0,0,0,0,1,0,0
4,2,99.4,176.6,66.4,54.3,2824,5,136,3.19,3.4,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,109.1,188.8,68.9,55.5,2952,4,141,3.78,3.15,...,0,0,0,0,0,0,0,1,0,0
201,-1,109.1,188.8,68.8,55.5,3049,4,141,3.78,3.15,...,0,0,0,0,0,0,0,1,0,0
202,-1,109.1,188.8,68.9,55.5,3012,6,173,3.58,2.87,...,1,0,0,0,0,0,0,1,0,0
203,-1,109.1,188.8,68.9,55.5,3217,6,145,3.01,3.4,...,0,0,0,0,0,1,0,0,0,0
204,-1,109.1,188.8,68.9,55.5,3062,4,141,3.78,3.15,...,0,0,0,0,0,0,0,1,0,0

In [42]:
# for checking data set containing any null value

auto_data[auto_data.isnull().any(axis = 1)]

Empty DataFrame
Columns: [symboling, wheel-base, length, width, height, curb-weight, num-of-cylinders, engine-size, bore, stroke, compression-ratio, horsepower, peak-rpm, city-mpg, highway-mpg, price, make_alfa-romero, make_audi, make_bmw, make_chevrolet, make_dodge, make_honda, make_isuzu, make_jaguar, make_mazda, make_mercedes-benz, make_mercury, make_mitsubishi, make_nissan, make_peugot, make_plymouth, make_porsche, make_renault, make_saab, make_subaru, make_toyota, make_volkswagen, make_volvo, fuel-type_diesel, fuel-type_gas, aspiration_std, aspiration_turbo, num-of-doors_four, num-of-doors_two, body-style_convertible, body-style_hardtop, body-style_hatchback, body-style_sedan, body-style_wagon, drive-wheels_4wd, drive-wheels_fwd, drive-wheels_rwd, engine-location_front, engine-location_rear, engine-type_dohc, engine-type_dohcv, engine-type_l, engine-type_ohc, engine-type_ohcf, engine-type_ohcv, engine-type_rotor, fuel-system_1bbl, fuel-system_2bbl, fuel-system_4bbl, fuel-system_idi, fuel-system_mfi, fuel-system_mpfi, fuel-system_spdi, fuel-system_spfi]
Index: []

[0 rows x 69 columns]

In [44]:
# spliting data into training and testing set
from sklearn.model_selection import train_test_split
X = auto_data.drop('price', axis =1)

# Taking the labels (price)
Y = auto_data['price']

X_train, x_test, Y_train, y_test = train_test_split(X,Y,test_size=0.2,random_state=0)

# Estimator for GradientBoostingRegressor

In [46]:
from sklearn.ensemble import GradientBoostingRegressor

params = {'n_estimators': 500,'max_depth':6 , 'min_samples_split':2,'learning_rate': 0.01, 'loss':'ls'}
# min_samples_split - node split , ls - least squares regression
gbr_model = GradientBoostingRegressor(**params)
gbr_model.fit(X_train, Y_train)

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.01, loss='ls', max_depth=6,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=500,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=None, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [47]:
gbr_model.score(X_train,Y_train)

0.9983862634096469

In [49]:
y_predict = gbr_model.predict(x_test)

In [52]:
r_square = gbr_model.score(x_test, y_test)
r_square

0.9343806406536436

In [53]:
from sklearn.metrics import mean_squared_error

gbr_model_mse = mean_squared_error(y_predict, y_test)
gbr_model_mse

4657240.063806772

In [54]:
import math
math.sqrt(gbr_model_mse)

2158.063961935969

#  Grid serach for GBoost

In [ ]:
from sklearn.model_selection import GridSearchCV

num_estimators = [100, 200, 500]
learn_rates = [0.01, 0.02, 0.05, 0.1] # shrinkage factor
max_depths = [4,6,8]

param_grid = {'n_estimators' : num_estimators,
              'learning_rate': learn_rates,
              'max_depth' : max_depths}

grid_search = GridSearchCV(GradientBoostingRegressor(min_samples_split=2, loss = 'ls'), param_grid, cv=3, return_train_score= True)
grid_search.fit(X_train, Y_train)
grid_search.best_params_

In [62]:
grid_search.cv_results_ # to get the all model results

{'mean_fit_time': array([0.15723674, 0.32380009, 0.86080352, 0.22952604, 0.45405388,
        1.11265119, 0.27249837, 0.55565898, 1.15196077, 0.14224569,
        0.28116298, 0.70256662, 0.18722034, 0.39342403, 0.9754022 ,
        0.24052103, 0.52167861, 1.18060875, 0.14724445, 0.27949381,
        0.69257569, 0.18821724, 0.36744221, 1.11864638, 0.23418903,
        0.45871631, 1.11664605, 0.14557862, 0.27916296, 0.71622547,
        0.19488049, 0.3757693 , 0.89478374, 0.22885998, 0.45205545,
        0.96474091]),
 'std_fit_time': array([0.0168463 , 0.03837853, 0.01428143, 0.00694223, 0.01437605,
        0.03173229, 0.01999338, 0.02408516, 0.00735903, 0.00169816,
        0.00339592, 0.00215902, 0.00543206, 0.0342449 , 0.0110367 ,
        0.00188604, 0.04039938, 0.03044717, 0.00478025, 0.00491623,
        0.01391927, 0.00368024, 0.00478225, 0.10979956, 0.00578904,
        0.01387204, 0.04572657, 0.00329892, 0.00543185, 0.02173434,
        0.01450569, 0.01993771, 0.0140469 , 0.0037392 , 0.01599767,
        0.045813  ]),
 'mean_score_time': array([0.00399685, 0.00499686, 0.00632747, 0.00566427, 0.0063297 ,
        0.00666285, 0.00499837, 0.00632882, 0.00699623, 0.00399788,
        0.00399605, 0.00533064, 0.00399685, 0.00466394, 0.00632938,
        0.00399764, 0.00466442, 0.00732875, 0.00399756, 0.00466426,
        0.00532873, 0.00466458, 0.00433056, 0.00766269, 0.00433087,
        0.00499884, 0.00699663, 0.00399756, 0.00399748, 0.00533112,
        0.00399756, 0.00433056, 0.00566332, 0.00399748, 0.00499749,
        0.00766293]),
 'std_score_time': array([8.14004489e-04, 8.17512713e-04, 1.24736242e-03, 9.41111638e-04,
        4.70583774e-04, 4.74240744e-04, 8.15172295e-04, 9.42404035e-04,
        2.97360213e-07, 2.24783192e-07, 1.96925985e-06, 4.69967162e-04,
        1.18411894e-06, 4.71370394e-04, 4.71145571e-04, 1.12391596e-07,
        4.71539192e-04, 4.71033179e-04, 5.15042996e-07, 9.42853119e-04,
        4.69291119e-04, 9.43134123e-04, 4.70920828e-04, 1.24723533e-03,
        4.71201776e-04, 2.13544032e-06, 7.01885292e-07, 0.00000000e+00,
        2.97360213e-07, 4.69631199e-04, 1.94667955e-07, 4.71257962e-04,
        4.71145611e-04, 2.24783192e-07, 3.89335909e-07, 1.69986174e-03]),
 'param_learning_rate': masked_array(data=[0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01,
                    0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02,
                    0.05, 0.05, 0.05, 0.05, 0.05, 0.05, 0.05, 0.05, 0.05,
                    0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_max_depth': masked_array(data=[4, 4, 4, 6, 6, 6, 8, 8, 8, 4, 4, 4, 6, 6, 6, 8, 8, 8,
                    4, 4, 4, 6, 6, 6, 8, 8, 8, 4, 4, 4, 6, 6, 6, 8, 8, 8],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_n_estimators': masked_array(data=[100, 200, 500, 100, 200, 500, 100, 200, 500, 100, 200,
                    500, 100, 200, 500, 100, 200, 500, 100, 200, 500, 100,
                    200, 500, 100, 200, 500, 100, 200, 500, 100, 200, 500,
                    100, 200, 500],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'learning_rate': 0.01, 'max_depth': 4, 'n_estimators': 100},
  {'learning_rate': 0.01, 'max_depth': 4, 'n_estimators': 200},
  {'learning_rate': 0.01, 'max_depth': 4, 'n_estimators': 500},
  {'learning_rate': 0.01, 'max_depth': 6, 'n_estimators': 100},
  {'learning_rate': 0.01, 'max_depth': 6, 'n_estimators': 200},
  {'learning_rate': 0.01, 'max_depth': 6, 'n_estimators': 500},
  {'learning_rate': 0.01, 'max_depth': 8, 'n_estimators': 100},
  {'learning_rate': 0.01, 'max_depth': 8, 'n_estimators': 200},
  {'learning_rate': 0.01, 'max_depth': 8, 'n_estimators': 500},
  {'learning_rate': 0.02, 'max_depth': 4, 'n_estimators': 100},
  {'learning_rate': 0.02, 'max_depth': 4, 'n_estimators': 200},
  {'learning_rate': 0.02, 'max_depth': 4, 'n_estimators': 500},
  {'learning_rate': 0.02, 'max_depth': 6, 'n_estimators': 100},
  {'learning_rate': 0.02, 'max_depth': 6, 'n_estimators': 200},
  {'learning_rate': 0.02, 'max_depth': 6, 'n_estimators': 500},
  {'learning_rate': 0.02, 'max_depth': 8, 'n_estimators': 100},
  {'learning_rate': 0.02, 'max_depth': 8, 'n_estimators': 200},
  {'learning_rate': 0.02, 'max_depth': 8, 'n_estimators': 500},
  {'learning_rate': 0.05, 'max_depth': 4, 'n_estimators': 100},
  {'learning_rate': 0.05, 'max_depth': 4, 'n_estimators': 200},
  {'learning_rate': 0.05, 'max_depth': 4, 'n_estimators': 500},
  {'learning_rate': 0.05, 'max_depth': 6, 'n_estimators': 100},
  {'learning_rate': 0.05, 'max_depth': 6, 'n_estimators': 200},
  {'learning_rate': 0.05, 'max_depth': 6, 'n_estimators': 500},
  {'learning_rate': 0.05, 'max_depth': 8, 'n_estimators': 100},
  {'learning_rate': 0.05, 'max_depth': 8, 'n_estimators': 200},
  {'learning_rate': 0.05, 'max_depth': 8, 'n_estimators': 500},
  {'learning_rate': 0.1, 'max_depth': 4, 'n_estimators': 100},
  {'learning_rate': 0.1, 'max_depth': 4, 'n_estimators': 200},
  {'learning_rate': 0.1, 'max_depth': 4, 'n_estimators': 500},
  {'learning_rate': 0.1, 'max_depth': 6, 'n_estimators': 100},
  {'learning_rate': 0.1, 'max_depth': 6, 'n_estimators': 200},
  {'learning_rate': 0.1, 'max_depth': 6, 'n_estimators': 500},
  {'learning_rate': 0.1, 'max_depth': 8, 'n_estimators': 100},
  {'learning_rate': 0.1, 'max_depth': 8, 'n_estimators': 200},
  {'learning_rate': 0.1, 'max_depth': 8, 'n_estimators': 500}],
 'split0_test_score': array([0.74814876, 0.82696348, 0.82852891, 0.77506876, 0.83485337,
        0.81954636, 0.7768891 , 0.83788166, 0.81850093, 0.82693725,
        0.8281864 , 0.82204223, 0.83058973, 0.8192853 , 0.81634281,
        0.8329938 , 0.81866852, 0.81926411, 0.83113011, 0.83252473,
        0.83136505, 0.8122715 , 0.81852874, 0.81691488, 0.82886099,
        0.81820973, 0.8164306 , 0.82821781, 0.82374236, 0.8300948 ,
        0.81077317, 0.80837272, 0.80968251, 0.82503918, 0.82118299,
        0.82052458]),
 'split1_test_score': array([0.72553576, 0.83765602, 0.85983269, 0.72492422, 0.84892519,
        0.87214747, 0.71566973, 0.82938108, 0.85557592, 0.84381216,
        0.86432841, 0.86924617, 0.84786826, 0.86798298, 0.875868  ,
        0.8307874 , 0.85043096, 0.85591884, 0.86163064, 0.85930226,
        0.86376438, 0.87258151, 0.87307722, 0.87482862, 0.85346181,
        0.85390098, 0.85399209, 0.85675001, 0.87657376, 0.83481134,
        0.86837712, 0.87394946, 0.865421  , 0.85694479, 0.8576329 ,
        0.85460781]),
 'split2_test_score': array([0.67023386, 0.84536151, 0.90151073, 0.67353972, 0.83379642,
        0.88350177, 0.6744586 , 0.83653171, 0.88271797, 0.84549432,
        0.89713012, 0.90385383, 0.83613054, 0.88499662, 0.88599034,
        0.83748329, 0.88247195, 0.89033648, 0.89868752, 0.90282184,
        0.90192949, 0.88901833, 0.88464252, 0.8798567 , 0.88333069,
        0.88687076, 0.88895861, 0.90774126, 0.91104064, 0.90771069,
        0.89526973, 0.89500616, 0.8940034 , 0.88186506, 0.87847753,
        0.88342212]),
 'mean_test_score': array([0.71463946, 0.83666034, 0.86329078, 0.7245109 , 0.83919166,
        0.85839853, 0.72233914, 0.83459815, 0.85226494, 0.83874791,
        0.86321498, 0.86504741, 0.83819618, 0.85742163, 0.85940038,
        0.83375483, 0.85052381, 0.85517315, 0.86381609, 0.86488294,
        0.86568631, 0.85795711, 0.85874949, 0.85720007, 0.85521783,
        0.85299382, 0.8531271 , 0.86423636, 0.87045225, 0.85753894,
        0.85814001, 0.85910945, 0.85636897, 0.85461634, 0.85243114,
        0.8528515 ]),
 'std_test_score': array([0.03272848, 0.00754389, 0.02989487, 0.04145009, 0.00689616,
        0.02786095, 0.04208216, 0.00372996, 0.02632083, 0.00837959,
        0.02815716, 0.03353115, 0.00720356, 0.02784661, 0.03072547,
        0.00278605, 0.02604773, 0.02901996, 0.02762345, 0.02896871,
        0.02883985, 0.03299418, 0.02882962, 0.02855979, 0.0222718 ,
        0.02803808, 0.02961575, 0.03289406, 0.03590127, 0.035529  ,
        0.0352469 , 0.0368918 , 0.03501388, 0.02325742, 0.02367783,
        0.02570783]),
 'rank_test_score': array([36, 31,  7, 34, 28, 12, 35, 32, 26, 29,  8,  3, 30, 16,  9, 33, 27,
        20,  6,  4,  2, 14, 11, 17, 19, 23, 22,  5,  1, 15, 13, 10, 18, 21,
        25, 24]),
 'split0_train_score': array([0.84277013, 0.9669226 , 0.99554034, 0.85924661, 0.97810248,
        0.99892697, 0.86304902, 0.98045091, 0.99911384, 0.96730126,
        0.99383348, 0.99809333, 0.9785135 , 0.99844208, 0.99914711,
        0.98090896, 0.99881668, 0.99916582, 0.99591465, 0.99811997,
        0.99914093, 0.99894008, 0.99915553, 0.99916582, 0.99912292,
        0.9991658 , 0.99916583, 0.99825353, 0.99911287, 0.99916579,
        0.99915607, 0.99916576, 0.99916583, 0.99916581, 0.99916583,
        0.99916583]),
 'split1_train_score': array([0.84496489, 0.97009297, 0.99733479, 0.8605333 , 0.97882426,
        0.999709  , 0.86579573, 0.98181695, 0.99977725, 0.97060099,
        0.99583137, 0.99904005, 0.97942473, 0.99933608, 0.99981885,
        0.98217867, 0.9995066 , 0.99982236, 0.99728531, 0.99909394,
        0.99980847, 0.99971805, 0.99981962, 0.99982236, 0.99978611,
        0.99982236, 0.99982236, 0.99926815, 0.99978818, 0.99982235,
        0.99981879, 0.99982235, 0.99982236, 0.99982236, 0.99982236,
        0.99982236]),
 'split2_train_score': array([0.83853589, 0.96503188, 0.99589588, 0.85791547, 0.97764538,
        0.99863015, 0.86392962, 0.98037666, 0.99894347, 0.96550042,
        0.99409388, 0.99829897, 0.97824152, 0.99813342, 0.99897943,
        0.98110702, 0.99865261, 0.99899538, 0.99592403, 0.99828623,
        0.99897941, 0.99861736, 0.99897903, 0.99899537, 0.99895368,
        0.99899538, 0.99899539, 0.99844493, 0.99896912, 0.99899538,
        0.99899009, 0.99899536, 0.99899539, 0.99899538, 0.99899539,
        0.99899539]),
 'mean_train_score': array([0.8420903 , 0.96734915, 0.996257  , 0.85923179, 0.97819071,
        0.99908871, 0.86425813, 0.9808815 , 0.99927819, 0.96780089,
        0.99458625, 0.99847745, 0.97872658, 0.9986372 , 0.99931513,
        0.98139822, 0.99899196, 0.99932785, 0.99637466, 0.99850004,
        0.9993096 , 0.99909183, 0.99931806, 0.99932785, 0.99928757,
        0.99932785, 0.99932786, 0.99865554, 0.99929006, 0.99932784,
        0.99932165, 0.99932782, 0.99932786, 0.99932785, 0.99932786,
        0.99932786]),
 'std_train_score': array([0.00266829, 0.00208808, 0.00077581, 0.00106878, 0.0004853 ,
        0.00045505, 0.00114515, 0.00066215, 0.00035968, 0.00211206,
        0.00088683, 0.00040658, 0.000506  , 0.00051   , 0.0003627 ,
        0.00055776, 0.00037002, 0.00035652, 0.00064393, 0.00042539,
        0.00035886, 0.00046199, 0.0003619 , 0.00035653, 0.00035923,
        0.00035652, 0.00035652, 0.00044017, 0.00035708, 0.00035652,
        0.000358  , 0.00035653, 0.00035652, 0.00035653, 0.00035652,
        0.00035652])}

In [63]:
for i in range(36):
    print("parameters :", grid_search.cv_results_['params'][i])
    print('Mean Test Score:', grid_search.cv_results_['mean_test_score'][i])
    print('Rank:' , grid_search.cv_results_['rank_test_score'][i])
    print()

parameters : {'learning_rate': 0.01, 'max_depth': 4, 'n_estimators': 100}
Mean Test Score: 0.7146394596755415
Rank: 36

parameters : {'learning_rate': 0.01, 'max_depth': 4, 'n_estimators': 200}
Mean Test Score: 0.8366603357497558
Rank: 31

parameters : {'learning_rate': 0.01, 'max_depth': 4, 'n_estimators': 500}
Mean Test Score: 0.8632907761165088
Rank: 7

parameters : {'learning_rate': 0.01, 'max_depth': 6, 'n_estimators': 100}
Mean Test Score: 0.7245109019301151
Rank: 34

parameters : {'learning_rate': 0.01, 'max_depth': 6, 'n_estimators': 200}
Mean Test Score: 0.8391916579188466
Rank: 28

parameters : {'learning_rate': 0.01, 'max_depth': 6, 'n_estimators': 500}
Mean Test Score: 0.8583985309419196
Rank: 12

parameters : {'learning_rate': 0.01, 'max_depth': 8, 'n_estimators': 100}
Mean Test Score: 0.7223391394842387
Rank: 35

parameters : {'learning_rate': 0.01, 'max_depth': 8, 'n_estimators': 200}
Mean Test Score: 0.8345981535011742
Rank: 32

parameters : {'learning_rate': 0.01, 'max_depth': 8, 'n_estimators': 500}
Mean Test Score: 0.8522649371249916
Rank: 26

parameters : {'learning_rate': 0.02, 'max_depth': 4, 'n_estimators': 100}
Mean Test Score: 0.838747911515142
Rank: 29

parameters : {'learning_rate': 0.02, 'max_depth': 4, 'n_estimators': 200}
Mean Test Score: 0.8632149773529649
Rank: 8

parameters : {'learning_rate': 0.02, 'max_depth': 4, 'n_estimators': 500}
Mean Test Score: 0.8650474103665902
Rank: 3

parameters : {'learning_rate': 0.02, 'max_depth': 6, 'n_estimators': 100}
Mean Test Score: 0.8381961760233937
Rank: 30

parameters : {'learning_rate': 0.02, 'max_depth': 6, 'n_estimators': 200}
Mean Test Score: 0.8574216326698402
Rank: 16

parameters : {'learning_rate': 0.02, 'max_depth': 6, 'n_estimators': 500}
Mean Test Score: 0.8594003830128815
Rank: 9

parameters : {'learning_rate': 0.02, 'max_depth': 8, 'n_estimators': 100}
Mean Test Score: 0.8337548291287366
Rank: 33

parameters : {'learning_rate': 0.02, 'max_depth': 8, 'n_estimators': 200}
Mean Test Score: 0.8505238101275467
Rank: 27

parameters : {'learning_rate': 0.02, 'max_depth': 8, 'n_estimators': 500}
Mean Test Score: 0.8551731456485504
Rank: 20

parameters : {'learning_rate': 0.05, 'max_depth': 4, 'n_estimators': 100}
Mean Test Score: 0.8638160894501085
Rank: 6

parameters : {'learning_rate': 0.05, 'max_depth': 4, 'n_estimators': 200}
Mean Test Score: 0.8648829418845078
Rank: 4

parameters : {'learning_rate': 0.05, 'max_depth': 4, 'n_estimators': 500}
Mean Test Score: 0.865686310344629
Rank: 2

parameters : {'learning_rate': 0.05, 'max_depth': 6, 'n_estimators': 100}
Mean Test Score: 0.8579571137550227
Rank: 14

parameters : {'learning_rate': 0.05, 'max_depth': 6, 'n_estimators': 200}
Mean Test Score: 0.8587494930442167
Rank: 11

parameters : {'learning_rate': 0.05, 'max_depth': 6, 'n_estimators': 500}
Mean Test Score: 0.8572000659296788
Rank: 17

parameters : {'learning_rate': 0.05, 'max_depth': 8, 'n_estimators': 100}
Mean Test Score: 0.85521783156388
Rank: 19

parameters : {'learning_rate': 0.05, 'max_depth': 8, 'n_estimators': 200}
Mean Test Score: 0.8529938249820582
Rank: 23

parameters : {'learning_rate': 0.05, 'max_depth': 8, 'n_estimators': 500}
Mean Test Score: 0.8531271014444995
Rank: 22

parameters : {'learning_rate': 0.1, 'max_depth': 4, 'n_estimators': 100}
Mean Test Score: 0.8642363616703358
Rank: 5

parameters : {'learning_rate': 0.1, 'max_depth': 4, 'n_estimators': 200}
Mean Test Score: 0.8704522532607172
Rank: 1

parameters : {'learning_rate': 0.1, 'max_depth': 4, 'n_estimators': 500}
Mean Test Score: 0.857538942325793
Rank: 15

parameters : {'learning_rate': 0.1, 'max_depth': 6, 'n_estimators': 100}
Mean Test Score: 0.8581400071769485
Rank: 13

parameters : {'learning_rate': 0.1, 'max_depth': 6, 'n_estimators': 200}
Mean Test Score: 0.8591094470053248
Rank: 10

parameters : {'learning_rate': 0.1, 'max_depth': 6, 'n_estimators': 500}
Mean Test Score: 0.8563689699545192
Rank: 18

parameters : {'learning_rate': 0.1, 'max_depth': 8, 'n_estimators': 100}
Mean Test Score: 0.8546163429493037
Rank: 21

parameters : {'learning_rate': 0.1, 'max_depth': 8, 'n_estimators': 200}
Mean Test Score: 0.852431139108894
Rank: 25

parameters : {'learning_rate': 0.1, 'max_depth': 8, 'n_estimators': 500}
Mean Test Score: 0.8528515017832846
Rank: 24